/* ~~~~~~~~~~ General ~~~~~~~~~~ */
* {
    font-family: 'Playpen Sans', cursive;
}

body {
    padding: 1em 5em 5em;
    color: black;
    background-color: white;
    /* For Late Night Editing
    background-color: rgb(79, 79, 79);
    color: white; */
}

#background_left,
#background_right {
    position: fixed;
    top: 0;
    width: 50%;
    height: 105%;
    background-size: 215%;
    background-position: center;
    z-index: -1;
    border: solid rgb(68, 68, 68) 2px;
}

#background_left {
    left: 0;
    background-image: url("../images/green_up_arrows.png")
}

#background_right {
    right: 0;
    background-image: url("../images/red_down_arrows.png")
}

/* ~~~~~~~~~~ Buttons ~~~~~~~~~~ */
.dark-mode {
    background-color: gray;
    color: white;
}

#start_game_btn {
    margin-top: 100px;
}

#play_again_btn {
    display: none;
}

/* ~~~~~~~~~~ Sections ~~~~~~~~~~ */
/* Rules Modal */
#rulesModal .modal-dialog {
    color: black;
}


/* Game Title */
#game_title_container {
    margin: 100px 0px 25px;
}

.big-game-title {
    display: block;
    /* font-size: 1.5em; */
}

/* Cards */
.dark-mode-card {
    display: none;
}

/* Game Area */
#game_play_container {
    display: none;
}

#playing_field {
    min-height: 250px;
}

#text_to_player {
    min-height: 100px;
}

/* Play Again Btn */
#play_again_button_container {
    margin-top: 50px;
    min-height: 40px;
}

/* High Score */
#high_score_container {
    padding-top: 25px;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#version_number_and_slogan {
    margin: 25px 15px;
}

#version_number_and_slogan small {
    display: block;
}