/* ~~~~~~~~~~~~~~~~~~~  Large Laptop ~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    /* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */
    body {
        padding: 1em;
    }

    /* Fonts */
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    small {
        font-size: .75em;
    }

    /* Btns */
    #start_game_btn {
        margin: 30px;
    }

    /* ~~~~~~~~~~~~~~ Sections ~~~~~~~~~~~~~~ */
    /* Top Btns */
    #dark_mode_container {
        padding-bottom: 15px;
    }

    /* Game Area */
    #game_page {
        padding-top: 15px;
    }

    /* Text To Players */
    #text_to_player {
        min-height: 85px;
    }

    /* High Score */
    #high_score_container {
        padding: 15px;
    }
}





/* ~~~~~~~~~~~~~~~~~~~  Generic Laptop ~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    /* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */
    body {
        padding: 1em;
    }
    
    /* Fonts */
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    small {
        font-size: .75em;
    }

    /* Btns */
    #start_game_btn {
        margin: 30px;
    }

    /* ~~~~~~~~~~~~~~ Sections ~~~~~~~~~~~~~~ */
    /* Top Btns */
    #dark_mode_container {
        padding-bottom: 15px;
    }

    /* Game Area */
    #game_page {
        padding-top: 15px;
    }

    /* #playing_field {
        min-height: 220px;
    } */

    /* Text To Players */
    #text_to_player {
        min-height: 80px;
    }

    /* High Score */
    #high_score_container {
        padding: 15px;
    }
}





/* ~~~~~~~~~~~~~~~~~~~  Smallest Laptop ~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 1025px) and (max-width: 1199px) {
    /* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */ 
    body {
        padding: 1em;
    }

    .container {
        max-width: 960px;
    }

    /* Fonts */
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    small {
        font-size: .75em;
    }

    /* Card Imgs */
    /* #playing_field img {
        width: 50%;
    } */

    /* Btns */
    #start_game_btn {
        margin: 30px;
    }

    /* ~~~~~~~~~~~~~~ Sections ~~~~~~~~~~~~~~ */
    /* Top Btns */
    #dark_mode_container {
        padding-bottom: 15px;
    }

    /* Game Area */
    #game_page {
        padding-top: 15px;
    }

    /* #playing_field {
        min-height: 220px;
    } */

    /* Text To Players */
    #text_to_player {
        min-height: 85px;
    }

    /* High Score */
    #high_score_container {
        padding: 15px;
    }
}





/* ~~~~~~~~~~~~~~~~~~~  Tablet: Landscape ~~~~~~~~~~~~~~~~~~~ */
@media only screen 
	and (min-width: 769px)
	and (max-width: 1024px)
	and (orientation: landscape) {
	/* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */
    body {
        padding: 1em;
    }

    .container {
        max-width: 960px;
    }

    /* Fonts */
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    small {
        font-size: .75em;
    }

    /* Card Imgs */
    /* #playing_field img {
        width: 50%;
    } */

    /* Btns */
    #start_game_btn {
        margin: 30px;
    }

    /* ~~~~~~~~~~~~~~ Sections ~~~~~~~~~~~~~~ */
    /* Top Btns */
    #dark_mode_container {
        padding-bottom: 15px;
    }

    /* Game Area */
    #game_page {
        padding-top: 15px;
    }

    /* #playing_field {
        min-height: 220px;
    } */

    /* Text To Players */
    #text_to_player {
        min-height: 85px;
    }

    /* High Score */
    #high_score_container {
        padding: 15px;
    }
}





/* ~~~~~~~~~~~~~~~~~~~  Tablet: Portrait ~~~~~~~~~~~~~~~~~~~ */
@media only screen
	and (min-width: 481px)
	and (max-width: 768px)
	and (orientation: portrait) {
    /* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */	
    body {
        padding: 1em;
    }
}





/* ~~~~~~~~~~~~~~~~~~~  Cell Phone: Landscape ~~~~~~~~~~~~~~~~~~~  */
@media only screen
	and (max-height: 481px)
	and (max-width: 964px)
	and (orientation: landscape) {
    /* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */
    body {
        padding: 1em;
    }
}





/* ~~~~~~~~~~~~~~~~~~~  Cell Phone: Portrait ~~~~~~~~~~~~~~~~~~~  */
@media only screen
	and (max-width: 480px) 
	and (orientation: portrait) {
    /* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */
    body {
        padding: 1em;
    }
}